
 /* CURSORE BASE */
body {
  cursor: url("gunn_64.png") 16 16, auto;
}

/* CURSORE SU BOTTONE */
.menu {
  cursor: url("gunn_hover_64.png") 16 16, auto;
}

/* CURSORE OVUNQUE DENTRO IL BOTTONE */
.menu * {
  cursor: inherit;
}

/* HOVER VISIVO DEL BOTTONE */
.menu:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(255,255,255,0.15);
}

/* MODEL VIEWER NON ROMPE EVENTI */
model-viewer {
  pointer-events: none;
}
