
body {
  margin: 0;
  background: black;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

/* CONTENITORE MENU */
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  align-items: center;
}

/* CARD MENU */
.menu {
  width: 280px;
  height: 180px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #111;
  border-radius: 24px;

  overflow: hidden;

  text-decoration: none;

  transition: 0.3s ease;
}

/* HOVER */
.menu:hover {
  transform: scale(1.05);

  background: #1b1b1b;

  box-shadow:
    0 0 25px rgba(255,255,255,0.08);
}

/* MODELLO 3D */
.menu model-viewer {
  width: 120px;
  height: 120px;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 1;
}

/* ICONA PNG */
.menu-icon {
  width: 150px;
  height: auto;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 2;

  pointer-events: none;

  transition: 0.3s ease;
}

/* HOVER ICONA */
.menu:hover .menu-icon {
  transform: translate(-50%, -50%) scale(1.1);
}